<div id="login_form">
	<h2 class="form-signin-heading">Please sign in</h2>
	<input type="text" class="input-block-level" placeholder="Username" id="username">
	<input type="password" class="input-block-level" placeholder="Password" id="password">
	<label class="checkbox">
		<input type="checkbox" value="remember-me" id="rememberMe">
		Remember me </label>
	<button class="btn btn-large btn-primary" id="btn_signIn" type="submit">
		Sign in
	</button>
	<button class="btn btn-large btn-danger" id="btn_register" type="submit">
		Register
	</button>
</div>
