<h2>Registration</h2>
	
<div id="register_form">
    <div class="control-group">
        <input type="text" class="input-block-level" id="firstName" name="firstName" placeholder="First Name">
	</div>
	
	<div class="control-group">
        <input type="text" class="input-block-level" id="lastName" name="lastName" placeholder="Last Name">
	</div>
	
	 <div class="control-group">
        <input type="text" class="input-block-level" id="email" name="email" placeholder="Email">
	</div>
	
	<div class="control-group">
        <input type="password" class="input-block-level" id="password" name="password" placeholder="Password" >
	</div>
	
	<div class="control-group">
        <input type="password" class="input-block-level" id="passwordVerify" name="passwordVerify" placeholder="Re-Password" >
	</div>
	
	<div class="control-group">
       <button type="submit" class="btn btn-success">Create My Account</button>
	</div>
	If you already registered, <a href="./index.html">Click Here</a> to login page
</div>
<div id="register_success" class="alert alert-success invisible">
	Your registration completed successfully!<br/>
	<a href="./index.html">Click Here</a> to login with your new account informations
</div>